<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">

    <title>{{title}}</title>


    <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>

</head>
<body>
<h1 class="list-group"><u>{{name}}</u></h1><br>
<h3>{{desc}}</h3>

</body>
</html>